<!doctype html>
<html lang="en">
  <head>
    <title><%= profile.name %> - <%= profile.profession %></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500|Source+Sans+Pro:300,400,600,700,900" rel="stylesheet">
    <link rel="stylesheet" href="./assets/styles.css">
    <script src="./assets/scripts.js"></script>
    <link rel="icon" type="image/png" href="./images/icon.png">
    <meta name="theme-color" content="<%= colors.lead %>">
    <link rel="dns-prefetch" href="//fonts.googleapis.com/">
    <meta name="description" content="<%= profile.name %> - <%= profile.profession %>">
    <script type="application/ld+json">
      {
        "@context": "http://schema.org/",
        "@type": "Person",
        "name": "<%= profile.name %>",
        "image": "<%= profile.image %>",
        "sameAs": <%- JSON.stringify(Object.values(social)) %>,
        "jobTitle": "<%= profile.profession %>",
        "worksFor": {
          "@type": "Organization",
          "name": "<%= profile.company %>"
        }  
      }
    </script>
  </head>
  <body class="antialiased bg-back leading-normal font-text text-front">
    
    <header>
      <div class="flex justify-between p-4 lg:px-8">
        <span class="inline-flex w-14 h-14 lg:mt-4 font-header font-bold text-xl justify-center items-center text-center text-front border-2 border-solid border-front rounded-full"><%= profile.initials %></span>
        <a href="#contact" class="contact">
            <span class="inline-block h-6 w-6 lg:hidden"><%- include("icons/contact.svg") %></span>
            <span class="hidden lg:block">Contact me</span>
        </a>
      </div>
    </header>

    <section class="container flex flex-wrap pt-4 my-8">
      <div class="w-full lg:w-1/3 lg:border-r border-line lg:px-8 xl:px-12">
        
        <div class="flex flex-col h-full justify-between">

        <div>
          <h2 class="font-header font-light text-front text-2xl leading-none mb-4"><%= profile.profession %></h2>
          <h1 class="font-header font-black text-front text-5xl leading-none break-words mb-6"><%= profile.name %></h1>
          <div class="relative inline-block">
            <img src="images/<%= profile.image %>" alt="<%= profile.name %>" class="block rounded-full relative z-10 w-56 h-56 lg:w-36 lg:h-36">
            <div class="avatar-bg bg-lead"></div>
          </div>
          <br>
          <div class="inline-flex bg-front mt-6 w-auto">
            <span class="text-lead border-r-2 border-back pt-2 px-3">
              <span class="inline-block h-4 w-4">
                <%- include("icons/location.svg") %>
              </span>
            </span>
            <span class="text-back font-header font-bold py-1 px-3 text-lg"><%= profile.location %></span>
          </div>
          <% if (profile.relocation) { %>
          <div class="text-xs uppercase pt-2 font-semibold text-front font-header">
            Available for relocation
          </div>
          <% } %>
        </div>

        <footer class="pt-8 pb-12 lg:py-0">
          <h5 class="section-header pb-3">Connnect</h5>

          <div class="connect-icons">
              <% for (var network in social) { %>
                <a href="<%= social[network] %>" class="connect-icon" target="_blank"><%- include("icons/"+network+".svg") %></a>
              <% }; %>
          </div>
          
        </footer>
        </div>

      </div>

      <div class="w-full lg:w-2/3 lg:pl-8 xl:pl-12">
        
        <div class="flex pb-8">
          <div class="w-1/2 pr-4 lg:pr-12 border-r border-line">
            <h5 class="section-header pb-0">Company</h5>
            <h3 class="font-header font-light text-2xl text-front leading-tight"><%= profile.company %></h3>
            <% if (profile.for_hire) { %>
            <div class="font-header font-semibold text-xs uppercase pt-2">
                <span class="dot status-green"></span> Available for hire
            </div>
            <% } %>
          </div>
          <div class="w-1/2 pl-4 lg:pl-12">
            <h5 class="section-header pb-0">Focused on</h5>
            <div class="font-header font-light text-2xl text-front leading-tight">
              <%= profile.focus %>
              <div class="pt-1">
                <a href="<%= profile.focus_url %>" class="inline-block text-front opacity-50 hover:opacity-75 h-5 w-5" target="_blank">
                    <%- include("icons/website.svg") %>
                </a>
              </div>
            </div>

          </div>
        </div>

        <div class="flex flex-wrap">
          <div class="w-full lg:w-3/4 pb-12">
            <h5 class="section-header pb-3">Top skills</h5>
            <ul class="skills">
              <% skills.forEach(function(skill, index) { %>
                <li class="skill"><%= skill %>
                  <%- include("icons/skill.svg") %>
                </li>
              <% }); %>
            </ul>
          </div>
          <div class="w-full lg:w-1/4 pb-12">
            <h5 class="section-header pb-3">Main tools</h5>
            <ul class="tools">
              <% tools.forEach(function(tool) { %>
                <li class="tool"><%= tool %></li>
              <% }); %>
            </ul>
          </div>
        </div>

        <h5 class="section-header pb-3">Strategic Software Engineering Leader</h5>
        <div class="font-text text-sm pb-6">
            <p class="pb-2 italic">
                Building effective development teams that produce quality code and secure solutions with speed.
            </p>  
            <p class="pb-6">
                <%- about %>
            </p>          
        </div> 

        <h5 class="section-header pb-3">Projects</h5>
        
        <% projects.forEach(function(project) { %>
        <div class="project">

          <% if ('image' in project ) { %>
            <div class="project-image">
                <img src="images/<%= project.image %>" alt="<%= project.name %>" class="w-full">
            </div>
            <div class="lg:w-3/5">
            <% } %>
          <h4><%= project.name %></h4>
          <a href="<%= project.url %>" target="_blank" class="text-front hover:opacity-75"><%= project.url %></a>
          <p class="w-full">
              <%- project.description %>
          </p>
          <ul class="tags">
              <li class="tag">
                  <span class="dot <% if (project.status == 'live') { %>status-green<% } else { %>status-default<% } %>"></span> Status: <%= project.status %>
              </li>
              <% project.tags.forEach(function(tag) { %>
              <li class="tag"><%= tag %></li>
              <% }); %>
          </ul>

          <% if ('image' in project ) { %>
            </div>
          <% } %>

          <span class="project-icon">
              <%- include("icons/"+project.icon+".svg") %>
          </span>
        </div>
        <% }); %>
        
        <h5 class="section-header mt-12 pb-3 text-center">Work history</h5>

        <div class="history">          
          <% history.forEach(function(entry) { %>
            <div class="history-entry">
                <span class="dot-double"></span>
                <h4><%= entry.company %></h4>
                <h5 class="text-sm font-normal mb-1"><%= entry.position %></h5>
                <span class="text-sm font-medium opacity-50"><%= entry.period %></span>
              </div>
          <% }); %>
        </div>


        <h5 class="section-header mt-12 pb-3" id="contact">Contact</h5>

        <form action="https://formspree.io/<%= profile.email %>" method="post" class="flex flex-wrap">

          <div class="flex flex-wrap w-full">
            <div class="w-full lg:w-1/3 py-px lg:px-px">
              <input type="text" placeholder="NAME" autocomplete="name" name="name" class="form-control form-input" required>
            </div>
            <div class="w-full lg:w-1/3 py-px lg:px-px">
              <input type="email" placeholder="EMAIL ADDRESS" name="email" autocomplete="email" class="form-control form-input" required>
            </div>
            <div class="w-full lg:w-1/3 py-px lg:px-px">
              <div class="form-control bg-back-light" data-checkbox-toggle="inquiry">
                <span class="checkbox" data-checkbox="inquiry" data-checked="false"></span> <span class="text-front opacity-50 uppercase">Inquiry</span>
              </div>
            </div>
          </div>

          <div class="w-full inquiry-details" data-inquiry-details>

            <div class="inquiry-details__wrapper">

            <div class="flex flex-wrap w-full py-px lg:p-px">
                <div class="w-1/4 lg:w-1/5 bg-back-light">
                  <div class="opacity-50 text-front px-4 py-3 h-full font-header text-sm uppercase font-semibold leading-tight">
                      Budget
                  </div>
                </div>
                <div class="w-3/4 lg:w-4/5 p-4 bg-back-light">
                  <input type="range" name="budget" class="input-range"  min="<%= budget.min %>" max="<%= budget.max %>" step="1" value="<%= budget.selected %>" data-budget-slider>
                  <div class="font-header font-semibold leading-none text-front opacity-50"><%= budget.currency %> <span data-budget-value><%= budget.selected %></span>K</div>
                </div>
            </div>

            <div class="flex flex-wrap w-full py-px lg:p-px">
                <input type="text" name="project_type" autocomplete="new-password" placeholder="PROJECT TYPE (E.G. WEBSITE, MOBILE APP)" class="form-control form-input">
            </div>

            <div class="w-full py-px lg:p-px">
                <input type="tel" name="phone" autocomplete="tel" placeholder="PHONE NUMBER" class="form-control form-input">
            </div>

            </div>
          </div>

          <div class="w-full text-right py-px lg:p-px">
            <textarea name="message" placeholder="MESSAGE" class="block form-control form-input bg-back-light resize-none border-b-0 pb-4" rows="6" required></textarea>
            <div class="bg-back-light"><input type="submit" value="Send" class="btn bg-front text-back-light uppercase mr-4 my-4"></div>
          </div>

        </form>


      </div>
    </section>

    <footer class="bg-front mt-16 pt-8 pb-16">
      <div class="container flex">
        <div class="w-2/3 text-back-light font-header text-xs">
          <strong>&copy; <%= (new Date()).getFullYear() %> <%= profile.name %>.</strong> All rights reserved.
        </div>
        <div class="w-1/3 text-right">
          <a href="https://nenvy.com" target="_blank" class="text-back-light">
            <%- include("icons/logo.svg") %>
          </a>
         </div>
      </div>
    </footer>
    
  </body>
</html>